@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
#element {
  --bg: white; /*white*/
  --color: black; /*black*/
  --header-bg: rgba( 248, 249, 250, 1 );
  --border: #282828; /*#dee2e6*/
  --section-bg: #00559b; /*#24aded*/ /*#228be6*/ /*<- png color*/
  --section-color: white;
  --hover-bg: #333333; /*#DDD*/ /*#999c9a*/
  --hover-color: white; /*var( --color )*/
}
#element {
  height: 100%;
  /*border: 1px solid var( --border );*/
  background-color: #282828; /*white*/
  color: white;
  font-family: /*system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,*/ "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  line-height: normal;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.e {
  width: 24px;
  height: 24px;
  margin-right: 4em;
}
.business-english-icon {
  width: 35px;
  height: 35px;
  margin-right: 2em;
  margin-left: 2em;
}
.header-app-name, .login-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-button :hover{
  width: 35px;
  height: 35px;
  background-color: #333333;
  border-radius: 7px;
}
header {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: #282828;
  width: 100%;
  height: 4.15em;
  padding: 0 1em;
  border-bottom: 1px solid white;
}
header .entry {
  padding: 0 2em; /*0 0.3em*/
}

header svg {
  width: 32px;
  height: 32px;
}

main {
  min-height: 100vh;  /*dodao ove 3 linije za footer da bude na dnu i footeru dodao margin-top:auto*/
  display: flex;
  flex-direction: column;
  margin-top: 4.15rem; /*Dodao sam za scrollbar marginu da se poklapa*/
/*  overflow-y: scroll;*/
/*  text-align: center;*/
}

main .title {
  background-color: var( --section-bg );
  color: var( --section-color );
  font-size: large;
  font-weight: normal;
  padding: 0.5em 0.8em; /*0.5em 0.8em*/
  border-top: 1px solid white;
  /*border-radius: 8px;*/
  text-align: center;
}

main .entry {
  display: flex;
  align-items: center;
/*  align-items: center;*/
/*  border-radius: 8px;*/
  padding: 0.5em 1.5em; /*0.5em 0.8em*/
}

small {
  font-weight: lighter;
  margin-left: 0.5em;
  padding: 0.1em 0.5em;
  border-radius: 7px;
  background-color: green;
}

.medium {
  background-color: orange;
}

.difficult {
  background-color: red;
}

main img {
  width: 24px;
  height: 24px;
  margin-right: 2em; /*0.3em*/
}

.main_footer {
  margin-top: auto;
  border-top: 1px solid #333333;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.main_footer img{
  width: 20%;
  height: 200px;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.sticky_footer {
  background: #282828;
  border-top: 1px solid #00559b;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: row;
}
.sticky_footer :hover {
  cursor: pointer;
  background-color: var( --hover-bg );
}
.sticky_footer .footer-entry {
  flex-grow: 1;
  text-align: center;
  padding: 1em;
}

.footer-entry :hover{
  font-size: medium;
}

footer img {
  width: 32px;
  height: 32px;
}

.entry {
  cursor: pointer;
  font-size: medium;
}

a.entry {
  text-decoration: none;
  color: var( --color );
}

.entry:hover {
  background-color: var( --hover-bg );
  color: var( --hover-color );
  border-left: 13px solid #00559b;
  border-radius: 7px;
}

[data-invisible] {
  visibility: hidden;
}

[data-hidden] {
  display: none;
}


.bars {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.topnav {
  margin: .5em .5em;
  position: relative;
}

.topnav a.bars {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav #myLinks {
  background-color: #33333305;
  visibility:hidden;
  height: 0;
  opacity:0;
  transition: height 0.3s ease-in, opacity 0.3s ease 0.3s;
}

.topnav #myLinks.visible {
  height: 100%;
  visibility:visible;
  opacity:1;
}

#home {
  display: flex;
  align-items: center;
}

.topnav #myLinks.visible > #nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.topnav #myLinks.visible > #nav div {
  margin-bottom: .5em;
}

.topnav hr {
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/*experiment*/

/*.entries-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}*/






