.entry-content {
    padding: 1em 2em;
}
.entry-title {
    text-align: center;
}
.title-strong {
    padding: 0.5em 0.5em;
    border-radius: 7px;
    background-color: #00559b;
}
.entry-description {
    padding: 0.5em 2em;
    border-radius: 7px;
    background-color: #333333;
}